<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<div class = "container">
	<form action="/user/login" method="POST" class="form-signin" style="margin-top:270px;">
            <div class="col-sm-6 col-md-offset-3" style="padding-bottom:100px;">
                <div class="thumbnail">
                  <h6 class="form-signin-heading" style="text-align:center;">Masuk</h6>
                  
                  <div class="caption">
                      <div class="input-group form-group">
                          <span class="input-group-addon" style="color:white; background-color:black; border:1px solid black;">
                            <span class="glyphicon glyphicon-user"></span>
                          </span>
                          <input type="text" class="form-control" placeholder="Email address / Username" name="email">
                      </div>

                      <div class="input-group control-group">
                          <span class="input-group-addon" style="color:white; background-color:black; border:1px solid black;">
                            <span class="glyphicon glyphicon-lock"></span>
                          </span>
                          <input type="password" class="form-control" placeholder="Password" name="password">
                      </div>
                      <br>
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Masuk"/>
                      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                      <br>
                      <p style="font-size:15px; font-weight: normal;">Pelajari lebih lanjut? <a href="#" data-toggle="modal" data-target="#myModal">FAQ</a>.</p>
                  </div>
                </div>
          </div>
	</form>
</div>