<form action="/user/registerasadmin" id="contactform"> 
                        <fieldset> 
                        <label>Username <em>*</em></label>                           
                        <input type="text" name="username" class="textfield" id="username" value="" required/> 
                        <label>Nama <em>*</em></label>                           
                        <input type="text" name="name" class="textfield" id="nama" value="" required/>
                        <label>E-mail <em>*</em></label> 
                        <input type="email" name="email" class="textfield" id="email" value="" required/>
                        <label>Password <em>*</em></label>                           
                        <input type="password" name="password" class="textfield" id="password" value="" required/> 
                        <label>Re-type Password <em>*</em></label>                           
                        <input type="password" name="password2" class="textfield" id="password2" value="" required/>
                        <div class="clear"></div> 
                        <label>&nbsp;</label>
                        <button type="submit" class="buttoncontact" id="proceed">Submit</button>
                        <span class="loading" style="display: none;">Please wait..</span>
                        <div class="clear"></div>
                        </fieldset> 
</form>