<section id="pagetitle-container">
    	<div class="row">
        	<div class="twelve column">
            	<h1>About Us</h1>
            </div>
        </div>	        
    </section>
    <!-- pagetitle end here -->
      
    <!-- content section start here -->
    <section class="content-wrapper">
    	<div class="row">
        	<div class="twelve column">
            	<h3>Apa itu sun-community.com?</h3>
                <p>Sun-community.com merupakan sebuah wadah yang disediakan untuk saling berbagi.  Kami memberi nama ‘sun’ dikarenakan sistim ini menggunakan konsep matahari yang menguntungkan semua pihak. Setiap orang yang bergabung dengan sun-community.com akan disebut sebagai partisipan.</p>
            	<h5> Setiap partisipan akan memiliki 2 buah hak, yaitu :</h5>
            	<div class="eleven column mobile-five">
                <ul class="square">
                  <li>PH (Provide Help) yaitu memberikan bantuan kepada partisipan lain</li>                    
                  <li>GH (Get Help) yaitu meminta bantuan kepada partisipan lain</li>
                </ul> 	
            </div>
            
            <h3>Bagaimana cara kerja sun-community.com?</h3>
            <p>Berikut adalah tahap-tahap cara kerja di sun-community.com :</p>
            <div class="eleven column mobile-five">
                <ul class="square">
                  <li>Anda harus mencari upline atau orang yang menawarkan sun-community kepada Anda</li>         
                  <li>Anda silahkan membeli tiket pendaftaran kepada upline Anda senilai Rp. 100.000,-</li>
                  <li>Anda silahkan memberikan data-data yang dibutuhkan kepada upline Anda-</li>
                  <li>Setelah id Anda siap didaftarkan, maka id Anda ter-PH secara otomatis
                  <li>Penjodohan PH-GH akan dilakukan secara random 1-5 hari</li>
                  <li>Setelah Anda mendapatkan pasangan transfer, silahkan lakukan proses transfer tersebut (Anda akan diberikan waktu 48 jam untuk melakukan proses transfer tersebut)</li>
                  <li>Setelah Anda transfer dan dikonfirmasi, maka Anda harus menunggu selama 1 x 24 jam agar dapat melakukan GH</li>
                  <li>Untuk melakukan GH, Anda harus membeli 1 tiket ke upline Anda. Tiket akan digunakan untuk rePH, dengan begitu sistem sun-community.com akan long live</li>
                <li>Penjodohan akan dilakukan setiap pukul 22.00 WIB</li>
                <li>Setelah GH Anda komplit, maka secara otomatis akan direPH oleh sistem</li>
                </ul> 	
            </div>
            
           <h3>Bagaimana perhitungan bonus di sun-community.com?</h3>
            <p>Terdapat 2 bonus utama di sun-community.com, yaitu:</p>
            <div class="eleven column mobile-five">
                <ul class="square">
                  <li>Bonus Pasif</li>    
                  <p>150% (termasuk modal) Bonus dapat di GH setelah 1 x 24 dari terkonfirmasinya PH.</p>
                  <li>Bonus Aktif</li>
                    <p>Bonus aktif terbagi atas 3, yaitu :<p>
                    <p>A. Bonus Sponsor : 10%</p>
                    <p>B. Bonus Manager : 10% (unlimited level) *Syarat manager : mensponsori minimal 10 orang</p>
                    <p>C. Bonus Kelipatan (Multiple Bonus) TEROBOSAN BARU !!!</p>
                    <p style="text-indent: 2em;">Terdapat 3 bonus kelipatan, yaitu:</p>
                    	<span style="text-indent: 3em;">1. Multiple4<br>Anda akan mendapatkan bonus tambahan Rp. 500.000,- setiap berhasil mensponsori kelipatan 4 orang.</span><br>
                    <span style="text-indent: 3em;">2. Multiple10
                        <br>Anda akan mendapatkan bonus tambahan Rp. 1.000.000,- setiap berhasil mensponsori kelipatan 10 orang.</span><br>
                    <span style="text-indent: 3em;">3. Multiple20
                        <br>Anda akan mendapatkan bonus tambahan Rp. 2.000.000,- setiap berhasil mensponsori kelipatan 20 orang.</span>
                    </p>
                </ul>
            </div>
            
            <h3>Apa syarat untuk menjadi stockist? Dan Apa keuntungannya?</h3>
                <p>Setiap partisipan yang membeli tiket sebanyak 50 tiket, maka secara otomatis akan dianggap menjadi stockist. Stockist akan mendapatkan GH gratis senilai Rp. 1.500.000,-. Jadi, PH perdana akan ditujukan ke para stockist, bukan diarahkan ke admin/owner. Kami hanya menerima stockist sebanyak 50 orang.</p>
                
            <h3>Apa syarat untuk menjadi stockist? Dan Apa keuntungannya?</h3>
                <p>Setiap partisipan yang membeli tiket sebanyak 50 tiket, maka secara otomatis akan dianggap menjadi stockist. Stockist akan mendapatkan GH gratis senilai Rp. 1.500.000,-. Jadi, PH perdana akan ditujukan ke para stockist, bukan diarahkan ke admin/owner. Kami hanya menerima stockist sebanyak 50 orang.</p>
                
            <h3>ATURAN-ATURAN LAINNYA</h3>
            <div class="eleven column mobile-five">
                <ul class="square">
                    <li>Tiket Pendaftaran Rp. 100.000,- / id</li>
                    <li>Tidak ada batasan nomor rekening, e-mail, maupun no hp.
                    <li>Perintah transfer muncul dihari ke 1 – 5 secara random
                    <li>1 id terblok, id lain akan ikut diblokir
                    <li>Maksimal penarikan bonus manager setiap minggunya adalah Rp. 5.000.000	                                      <li>Tidak ada batasan penarikan bonus pasif, bonus sponsor, dan bonus kelipatan.
	                <li>Segala keluhan dapat disampaikan kepada CRO kami yang sangat responsif.
                </ul>
            </div>
            </div>
        </div>
      </div>             
  </section>
    <!-- content section end here -->



