<!-- slideshow start here -->
    <section id="slideshow-container">
        <div class="banner">            
            
            <ul>   
                <!-- slide 4 -->
                <li data-transition="fade">
                    <img src="images/slideshow/transparent.png" alt="" style="background:#e4e6e6">
                    <div class="caption general_caption lfb" data-x="-432" data-y="0" data-speed="2000" data-endspeed="1000" data-start="100"><img src="images/slideshow/sld4_bg1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="520" data-y="28" data-speed="3000" data-endspeed="1000" data-start="700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="images/slideshow/sld4_img1.png" alt=""></div>
                    <div class="caption general_caption pst_media14 lfl ltl"  data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-easing="easeOutBack" data-endeasing="easeInBack"><h1 class="bold blue-text">Build your success</h1></div>
                    <div class="caption general_caption lfl ltl "  data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>Complete HTML5 pages for your business</p>
                    </div>
                    <div class="caption general_caption pst_media4 lfl ltl"  data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>Powered by Revolution Slider ($15 value)</p>
                    </div>
                    <div class="caption general_caption pst_media5 lfl ltl"  data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt"><i class="icon-ok-sign"></i>Responsive and Retina display ready</p>
                    </div>
                </li>   
            </ul>
            <div class="tp-bannertimer tp-top"></div>
                
        </div>        
    </section>
    <!-- slideshow end here -->
    
    <!-- slide box start here -->
    <section id="slide-box">
        <div class="row">
            <div class="twelve column">                     
                <div class="promo-box">
                    <div class="promo-text">
                        <div class="flatborder left">                           
                            <i class="flat-file small"></i>
                        </div>
                        <h3>A fully responsive HTML template with flat &amp; clean design.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed eiusmod tempor consectetur</p>
                    </div>
                    <div class="promo-button green">
                        <a href="/new"><h3>Create Account</h3><i class="icon-chevron-right"></i></a>
                    </div>
                </div>                                   
            </div>
        </div>    
    </section>
    <!-- slide box end here -->
      
    <!-- content section start here -->
    <section class="content-wrapper">
        <div class="row">
            <div class="twelve column smallmargin-top2">
                <ul class="block-grid-nomargin three-up mobile-style">
                    <li>
                        <div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-check medium"></i>
                            </div>    
                            <h3>More Valuable</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>  
                    </li>
                    <li>
                        <div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-ui medium"></i>
                            </div>    
                            <h3>Ton of Features</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>  
                    </li>
                    <li>
                        <div class="animated-column text-center">
                            <div class="flatborder">                           
                                <i class="flat-statistic medium"></i>
                            </div>    
                            <h3>SEO Friendly</h3> 
                            <p>Lorem ipsum dolor amet consectet adipisin elit sed eiusmod tempor consectetur nostrum exercitationem ullam corporis suscipit fugiat</p>
                        </div>  
                    </li>                            
                </ul>
            </div>
        </div>        
    </section>
    <!-- content section end here -->