<section class="content-wrapper">
        <div class="row">
            <div class="twelve column">
                <p class="lead">Bonus Sponsor</p>
                <div id="contact-form-area">
                     <% if(flash && flash.err) { %>
                      <ul class="alert alert-success" type="none">
                        <% Object.keys(flash.err).forEach(function(error) { %>
                          <li><%= JSON.stringify(flash.err[error]) %></li>
                        <% }) %>
                        </ul>
                    <% } %>
                    <!-- Contact Form Start //-->
                    <form action="/user/gethelpsponsor" id="contactform"> 
                        <fieldset> 
                        <label>Bonus Confirmed</label>                           
                        <input type="text" name="bonusconf" class="textfield" id="bonusconf" value="Rp. <%=user.sponsor%>" readonly="true" />
                        <label>Nominal GH <em>*</em></label>                           
                        <input type="text" name="nominalgh" class="textfield" id="nominalgh" />
                        <div class="clear"></div> 
                        <label>&nbsp;</label>
                        <button type="submit" name="submit" class="buttoncontact" id="buttonsend">Submit</button>
                        <span class="loading" style="display: none;">Please wait..</span>
                        <div class="clear"></div>
                        </fieldset> 
                    </form>
                    <!-- Contact Form End //-->
                </div>  
            </div>     
        </div>              
    </section>