<section class="content-wrapper">
        <div class="row">
            <div class="six column">
                <p class="lead">Sejarah PH / GH </p>
            </div>        
        </div>  
        <div class="row">
        <% _.each(jodohs, function(jodoh) { %>
            <div class="five column note-folded blue" style="margin: 12px;">
                    User PH: <%=jodoh.uph%>
                    <br>
                    User GH: <%=jodoh.ugh%>
                    <br>
                    Nominal : <%=jodoh.value%>
                    <br>
                    Tanggal : <%=jodoh.createdAt%>
            </div>
        <% }) %>
        </div>             
    </section>